$nav-and-select: rgb(182, 201, 218);
$light-lines: rgb(196, 196, 196);
$light-text: rgb(73, 73, 73);
$breakpoint-smallphones: 500px;
$breakpoint-tablet: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

.contact-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-lines;
    transition: 0.2s;
    padding: 5px 0 10px 10px;
    h4 {
        margin: 0;
        color: $light-text;
        font-weight: 600;
    };

    p {
        margin: 4px 0px;
        color: $light-text;

        @media screen and (max-width: $breakpoint-smallphones ){
            font-size: 10px;
        }

        @media screen and (min-width: $breakpoint-smallphones) and (max-width: $breakpoint-tablet) {
            font-size: 12px;
        }

        @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-medium) {
            font-size: 14px;
        }

        @media screen and (min-width: $breakpoint-medium) {
            font-size: 18px;
        }
    };
}

.contact-block.selected {
    background-color: rgb(0, 54, 99);
    h4 {
        color: white;
    }
    p {
        color: white;
    }
}

.contact-block:not(.selected):hover {
    cursor: pointer;
    background-color: $nav-and-select;
    h4 {
        color: black;
    }
    p {
        color: black;
    }
}
