$light-lines: rgb(196, 196, 196);
$light-text: rgb(73, 73, 73);
$breakpoint-tablet: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

#address-book-container {
    display: flex;
    height: 80vh;
    @media screen and (max-width: $breakpoint-tablet ){
        margin: 0;
    }

    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-medium) {
        margin: 2% 2% 2% 2%;
        justify-content: space-between;

    }

    @media screen and (min-width: $breakpoint-medium) {
        margin: 2% 5% 2% 5%;
        justify-content: space-between;

    }
}

#contact-sidebar {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 45%;
    height: 100%;

    @media screen and (max-width: $breakpoint-tablet ){
        padding: 0;
    }

    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-medium) {
        padding: 0 5px
    }

    @media screen and (min-width: $breakpoint-medium) {
        padding: 0 10px
    }
}

#pagination-container {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 201, 218);
    border-radius: 40px;

    @media screen and (max-width: $breakpoint-medium ){
        height: 50px;
        margin-top: 0;
        width: 90%;
    }

    @media screen and (min-width: $breakpoint-medium) {
        height: 80px;
        margin-top: 10px;
        width: 100%;
    }
}

.page-selected {
    color: white;
    background-color: rgb(0, 54, 99);
}

.page-selected:hover {
    background-color: rgb(0, 54, 99);
}

#page-ellipses {
    padding: 0px 2%;
    margin: 0;
}
