$breakpoint-smallphones: 580px;
$breakpoint-tablet: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

.favorite {
    color: rgb(230, 138, 0);
    margin-right: 20px;
}

#your-favorites {
    display: flex;
    align-items: center;
    h3 {
        margin: 0;
        color: rgb(0, 0, 0);
        font-family: 'Spartan', sans-serif;;
    }
}

.favorite.static {
    margin-right: 10px;
}

.favorite:not(.static):hover {
    cursor: pointer;
}

#favorites-block {
    box-sizing: border-box;
    width: 50%;
    background-color: rgb(253, 230, 198);
    padding: 5px 10px 15px 10px;
    border-radius: 0px;

    @media screen and (max-width: $breakpoint-smallphones ){
        width: 100%;
        margin: 0;
        padding: 5px 0px;
    }

    @media screen and (min-width: $breakpoint-smallphones ) and (max-width: $breakpoint-tablet ){
        width: 100%;
        margin: 0;
    }

    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-medium) {
        width: 50%;
        margin: 0px 0px 15px 0px;
    }

    @media screen and (min-width: $breakpoint-medium) {
        width: 50%;
        margin: 0px 0px 15px 0px;
    }
}

#favorites-scroll-container {
    display: flex;
    align-items: center;
}

#favorites-carousel {
    width: 90%;
    overflow-x: hidden;
}

#favorites-track {
    position: relative;
    z-index: 0;
    display: flex;
    justify-self: center;
    width: 100%;
    transition: 0.5s;
}

.carousel-button {
    position: relative;
    z-index: 1;
    background-color: rgb(0, 54, 99);
    color: white;
}

.carousel-button.inactive {
    background-color: rgb(84, 88, 92);
}
