$nav-and-select: rgb(182, 201, 218);
$light-lines: rgb(196, 196, 196);
$light-text: rgb(73, 73, 73);

* {
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

body {
    margin: 0;
}

p {
    word-break: break-all;
    white-space: normal;
}

#root {
    height: 100vh;
    width: 100vw;
}

#nav {
    padding-left: 5%;
    background-color: $nav-and-select;
    height: 8%;
    display: flex;
    align-items: center;
}


nav h1 {
    margin: 0;
    font-weight: 300;
    font-size: 30px;
}

#address-book-container {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    margin: 3% 5% 3% 5%;
}

#search-list {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    padding: 0 10px;
}

#search-bar input {
    width: 50%;
    height: 24px;
    margin-bottom: 30px;
}

#contacts-sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

#contact-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#contact-list::-webkit-scrollbar {
    width: 4px;
}

#contact-list::-webkit-scrollbar-thumb {
    background-color: rgb(155, 155, 155);
    border-radius: 2px;
}

.contact-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $light-lines;
    padding-top: 5px;
    padding-bottom: 10px;
    transition: 0.2s;
    padding-left: 10px;
}

.contact-block.selected {
    background-color: rgb(0, 54, 99);
    h4 {
        color: white;
    }
    p {
        color: white;
    }
}

.contact-block-exit {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.contact-block:not(.selected):hover {
    cursor: pointer;
    background-color: $nav-and-select;
    h4 {
        color: black;
    }
    p {
        color: black;
    }
}

.contact-block h4 {
    margin: 0;
    font-weight: 600;
    color: $light-text;
}

.contact-block p {
    margin: 4px 0px;
    font-size: 14px;
    color: $light-text;

}


.contact-details-block {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid $light-lines;
    padding: 0% 5% 20% 5%;
    transition: 0.5s;
}

.contact-details-block p {
    margin: 0;
}


.contact-photo {
    height: 100px;
    width: 100px;
    border-radius: 200px;
}

.contact-details-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $light-lines;
}

.contact-details-top h3 {
    font-size: 32px;
    font-weight: 400;
    margin-left: 40px;
}

.contact-details-bottom {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 5%;
    width: 100%;
}

.contact-detail-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6%;
    border-bottom: $light-lines;
}

.contact-detail-block p {
    color: $light-text;
    font-size: 20px;
}

.contact-detail-icon {
    color: $light-text;
    margin-right: 18px;
}

.phone-container {
    display: flex;
    flex-direction: column;
}

.inner-phone-container {
    display: flex;
    margin-bottom: 10px;
}

#pagination-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: $nav-and-select;
    border-radius: 40px;
    height: 100px;
}

button {
    border: none;
    background-color: rgb(215, 234, 250);
    font-size: 20px;
    color: rgb(105, 105, 105);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0% 14px;
    transition: 0.2s;
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: rgba(0, 54, 99, 0.432);
    color: white;
}

.page-selected {
    color: white;
    background-color: rgb(0, 54, 99);
}

.page-selected:hover {
    background-color: rgb(0, 54, 99);
}

.favorite {
    color: rgb(230, 138, 0);
    margin-right: 20px;
}

.favorite:hover {
    cursor: pointer;
}
