$nav-and-select: rgb(182, 201, 218);
$light-lines: rgb(196, 196, 196);
$light-text: rgb(48, 48, 48);
$breakpoint-smallphones: 420px;
$breakpoint-tablet: 767px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

* {
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-weight: 400;
    @media screen and (max-width: $breakpoint-smallphones ){
        font-size: 10px;
    }

    @media screen and (min-width: $breakpoint-smallphones) and (max-width: $breakpoint-tablet) {
        font-size: 12px;
    }

    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-medium) {
        font-size: 14px;
    }

    @media screen and (min-width: $breakpoint-medium) {
        font-size: 18px;
    }

}

#root {
    min-height: 600px;
}

body {
    margin: 0;
    min-width: 280px;
}

p {
    word-break: normal;
    white-space: normal;
}

#root {
    height: 100vh;
    width: 100vw;
}

button {
    border: none;
    background-color: rgb(215, 234, 250);
    color: rgb(44, 44, 44);
    border-radius: 50px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $breakpoint-smallphones ){
        font-size: 10px;
        width: 20px;
        height: 20px;
        margin: 0 10px;
    }

    @media screen and (min-width: $breakpoint-smallphones) and (max-width: $breakpoint-tablet) {
        font-size: 12px;
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }


    @media screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-medium) {
        font-size: 14px;
        width: 25px;
        height: 25px;
        margin: 0 5px;
    }

    @media screen and (min-width: $breakpoint-medium) {
        font-size: 18px;
        width: 30px;
        height: 30px;
        margin: 0 14px;
    }
}

button:hover {
    cursor: pointer;
}

button:not(.carousel-button):hover {
    background-color: rgba(0, 54, 99, 0.432);
    color: white;
}
